h1{
            color: rgba(229, 255, 0, 0.705); 
            font-size: 25px;

        }
        p{
            color: rgb(29, 10, 202);
            font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

        }
        img{
            border: 2px solid rgb(0, 0, 0);

        }